[DEFAULT]
log_filename = LOG_FILEPATH

[CLOUDFLARE]
API_EMAIL = API_EMAIL
API_KEY = API_KEY
DOMAINS = DOMAIN_NAME1,DOMAIN_NAME2,...

[PORKBUN]
API_KEY = API_KEY
SECRET_KEY = SECRET_KEY
DOMAINS = DOMAIN_NAME1,DOMAIN_NAME2,...
